@font-face {
    font-family: 'josephin-sans';
    src: url('/fonts/JosefinSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'josephin-sans-light';
    src: url('/fonts/JosefinSans-Light.ttf');
}

body {
    background-color: #e9ecef;
    overflow: auto;
}

.navbar {
    background-color: #16256a;
    height: max-content;
    width: auto !important;
}

.navbar-brand {
    width: 75px;
}

.navbar-header {
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
}

.beta {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

.beta p {
    font-size: large;
    font-weight: 600;
    color: white;
    font-family: 'josephin-sans';
}

#logout {
    margin-left: 20px;
    font-size: 20px;
    margin-top: 3px !important;
    cursor: pointer;
}

#logout:hover {
    transform: scale(1.2);
}

.main {
    width: auto;
    margin: 12px auto;
}

.heading p {
    text-align: center;
    font-family: 'josephin-sans-light';
    color: #16256a;
    font-size: 100px;
    font-weight: 300;
}

.subHeading p {
    font-family: 'josephin-sans-light';
    text-align: center;
    font-size: 60px;
}

.des p {
    font-family: 'josephin-sans-light';
    text-align: center;
    font-size: 22px;
}

.signUp {
    text-align: center;
}

.signUp button {
    background-color: #16256a !important;
    font-size: large;
    border: 1px solid transparent;
    font-family: 'josephin-sans';
    font-weight: 500;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
}

.signUp button:active {
    background-color: #0064bd;
    box-shadow: none;
}

.name p {
    font-family: 'josephin-sans-light';
    color: #16256a;
    font-size: 50px;
}

.line hr {
    background-color: rgba(0, 0, 0, 0.4);
}

.spinner-grow {
    /* display: none; */
    width: 450px;
    margin: 0 auto !important;
    height: 450px;
    background-color: #16256a
}

.loading {
    width: max-content;
    margin: 0 auto;
    display: none;
}

.cardAlign {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 18rem !important;
    margin: 5px;
}

.card-title {
    font-family: 'josephin-sans';
    color: rgba(0, 0, 0, 0.8);
    font-size: 25px !important;
}

.card-subtitle {
    font-weight: 600;
    margin-top: -10px !important;
    font-size: 20px;
    font-family: 'josephin-sans-light';
    color: #16256a !important;
}

.btn2 {
    text-align: center;
    width: 100%;
    height: 30%;
    background-color: white;
    color: #16256a;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 0% !important;
}

.btn2:active {
    transform: translateY(4px) !important;
    box-shadow: none !important;
    color: #2649e6;
}

.btn2:focus,
.btn2:hover {
    box-shadow: none !important;
}

.btn2:hover {
    color: #2649e6;
}

#body {
    background-color: white;
}

#name2>small {
    font-size: 25px;
    font-weight: 800;
}

.accordion-body {
    transition: linear(overflow);
}

.btn3 {
    text-align: left;
    font-size: large;
    padding: 15px;
    width: 100%;
    height: 50% !important;
    background-color: rgb(237, 237, 237) !important;
    color: black;
    border: none !important;
    border-radius: 0% !important;
    font-family: 'josephin-sans';
}

.btn3:active,
.btn3:focus {
    border: none;
    outline: none;
}

.collapse {
    font-family: 'josephin-sans';
    margin-top: 30px;
    border: 2px solid blak;
}

#table {
    font-size: larger;
    margin-bottom: 30px;
}

td,
th {
    width: 15rem;
    height: 3rem;
    font-family: 'josephin-sans';
    padding-left: 10px;
}

th {
    font-weight: bold !important;
}

.continue {
    background-color: #16256a !important;
    color: white;
    width: 150px;
    height: 40px;
    font-size: 18px;
    border: none;
    outline: none;
}

.continue:active {
    background-color: #06447a !important;
    border: none;
    outline: none;
}

.continue:focus {
    border: none;
    outline: none;
}